// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here


h1, h2, h3, h4, h5, h6 {
	font-family: 'Merriweather', Serif;
}

p {
	font-family: 'Muli', Sans-Serif;
	font-size: 16px;
}

//resource page
.entry-title {
	margin-bottom: 20px;
}

.description {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.btn {
  align-self: flex-end;
  flex-grow: 1;
}

.resource-detail-section {
	border: 1px solid $primary;
	padding: 30px 20px;
	margin-top: 40px;
}

.resource-detail {
	margin-top: 10px;
}

.resource-detail h3 {
	font-size: 1.6em;

}

.btn-primary {
	border-radius: 50px;
	max-width: 200px;
	margin: 20px auto;
	display: inline-block;
}

.resource-item {
	margin: 10px 0;
	background-color: $primary;
	padding: 5px;
	color: #fff;
}

body {
	background-color: #efefef;
}

#content {
	background-color: #fff;
	padding: 50px;
}